@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Welcome to My Azure Web App after git integration</h1>
    <p class="lead">Name: Vinay</p>
    <p class="lead">Student ID: 500235544</p>
</div>
